body {
	color: #000000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.container {
	margin: 0 0 1.5% 3%;
}
.topo_bar {
	display: flex;
	justify-content: space-between;
	align-items:flex-end;
	margin-top: 1.5%;
}
.sacola {
	background-image: url(../img/sacola.png);
	background-repeat: no-repeat;
	background-position: top right;
	
	font-size: 13px;
	padding-right: 35px;
	text-align: right;
	width: 10.81vw;
}
.busca {
	margin-right: 5rem;
}
:root {
	--cor-fundo : rgb(255,255,255);
	--cor-hover : rgb(118, 189, 145);
	--cor-primaria: rgb(0,0,0);
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items:flex-end;
	flex-wrap: wrap;
}
.dp-menu{
	margin-right: 2%;
	margin-bottom: 0.5%;
}
.dp-menu ul {
	list-style-type: none;
	padding: 0;
}
.dp-menu ul li{
	display: inline;
	position: relative;
}
.dp-menu ul li a{
	color: var(--cor-primaria);
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	transition: background .3s;
}
.dp-menu ul li a:hover{
	background-color: var(--cor-hover);
}
/*Início Banner-slider*/
#slider {
	width: 100%;
	height: 31vw;
	position: relative;
}

#slider img{
opacity: 0;
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;

transition: opacity 800ms;
}
.links {
	margin-top: 2vh;
}
#slider img.selected {
opacity: 1;
}
.flex li a img{
	max-width: 75%;
	display: block;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	max-width: 90%;
	margin: 0 auto;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.flex > li {
	flex: 1 1 300px;
	margin: 0.63rem;
}

footer {
	background-color: #DCDCDC;
	padding-top: 5em;
	padding-bottom: 2.5rem;
	width: 100vw;
}
.embrulho {
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
  margin-bottom: 2%;
}
.politicas-footer h2, footer a, .atendimento-footer h2{
	color: black;
}
footer h2 {
	font-size: 1.25rem;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
	margin-bottom: 1rem;
}
footer a {
	text-decoration: none;
	color: #363636;
}
footer ul {
	padding: 0;
}
footer li {
	list-style: none;
}
.footer-list li {
	margin-bottom: 0.94rem;
}
.footer-list a {
	transition: .5s;
}
.footer-list a:hover {
	color: var(--cor-hover);
}
.footer-bottom {
	border-top: 1px solid #B2B2B2;
}
.container-pagamento{
  margin-left: 38%;
  margin-top: 2rem;
  top: 0.63rem;
}

